   # Visual Data Analysis of Fraudulent Transactions

In [44]:
# initial imports
import os
import pandas as pd
import calendar
import plotly.express as px
import hvplot.pandas
from sqlalchemy import create_engine
from dotenv import load_dotenv

In [45]:
load_dotenv()

True

In [46]:
# create a connection to the database
postgres_pass = os.getenv("POSTGRES_PASS")

engine = create_engine(f"postgresql://postgres:{postgres_pass}@localhost:5432/fraud_detect_sql_hw")

   ## Data Analysis Questions 1

   Use `hvPlot` to create a line plot showing a time series from the transactions along all the year for **card holders 2 and 18**. 
   
   How can you isolate (or group) the transactions of each cardholder?

   Consider the time period 7:00 a.m. to 9:00 a.m.

   What are the 100 highest transactions during this time period?
   
   In order to contrast the patterns of both card holders, create a line plot containing both lines.

In [51]:
# loading data for card holder 2 and 18 from the database

query = """
select ch.id, ch.full_name, cc.card, t.date, t.amount
from credit_card as cc
inner join card_holder as ch on ch.id = cc.id_card_holder
inner join transaction as t on t.card = cc.card
WHERE (id_card_holder = '2') OR (id_card_holder = '18');
"""

transaction_df = pd.read_sql(query, engine)
transaction_df.sort_values(["full_name", "amount"]).set_index(["full_name"])

               id                 card                date  amount
full_name
Malik Carlson  18      344119623920892 2018-06-13 05:34:22    0.67
Malik Carlson  18        4498002758300 2018-11-22 04:16:33    0.69
Malik Carlson  18      344119623920892 2018-03-19 05:53:26    0.92
Malik Carlson  18        4498002758300 2018-07-08 04:01:24    1.24
Malik Carlson  18      344119623920892 2018-01-05 07:19:27    1.36
Malik Carlson  18      344119623920892 2018-10-23 20:11:25    1.36
Malik Carlson  18      344119623920892 2018-03-31 23:13:53    1.56
Malik Carlson  18        4498002758300 2018-09-28 07:31:10    1.61
Malik Carlson  18        4498002758300 2018-07-29 12:15:25    1.64
Malik Carlson  18      344119623920892 2018-12-27 18:46:57    1.70
Malik Carlson  18        4498002758300 2018-01-17 15:02:38    1.72
Malik Carlson  18        4498002758300 2018-12-04 14:12:41    1.74
Malik Carlson  18      344119623920892 2018-11-12 04:53:21    1.75
Malik Carlson  18        4498002758300 2018-05-28 17:30:04    1.77
Malik Carlson  18      344119623920892 2018-11-26 20:19:56    1.77
Malik Carlson  18      344119623920892 2018-05-11 06:13:46    1.81
Malik Carlson  18      344119623920892 2018-12-20 17:20:27    1.88
Malik Carlson  18      344119623920892 2018-06-21 12:19:53    1.96
Malik Carlson  18        4498002758300 2018-05-14 23:34:39    1.99
Malik Carlson  18      344119623920892 2018-12-17 17:13:56    2.14
Malik Carlson  18      344119623920892 2018-02-21 20:23:38    2.31
Malik Carlson  18      344119623920892 2018-03-29 18:33:39    2.53
Malik Carlson  18      344119623920892 2018-01-16 19:19:48    2.55
Malik Carlson  18        4498002758300 2018-02-14 09:36:28    2.73
Malik Carlson  18        4498002758300 2018-07-07 00:11:44    2.75
Malik Carlson  18        4498002758300 2018-12-17 17:32:36    2.87
Malik Carlson  18        4498002758300 2018-07-26 18:08:43    2.93
Malik Carlson  18        4498002758300 2018-01-01 23:15:10    2.95
Malik Carlson  18        4498002758300 2018-11-10 10:17:29    3.04
Malik Carlson  18        4498002758300 2018-03-30 21:04:57    3.08
...            ..                  ...                 ...     ...
Shane Shaffer   2  4866761290278198714 2018-05-06 00:05:30   12.11
Shane Shaffer   2  4866761290278198714 2018-12-08 06:57:18   12.39
Shane Shaffer   2  4866761290278198714 2018-06-15 09:16:06   12.64
Shane Shaffer   2         675911140852 2018-06-01 06:25:18   13.03
Shane Shaffer   2  4866761290278198714 2018-10-16 02:08:07   13.06
Shane Shaffer   2         675911140852 2018-03-10 08:52:09   13.53
Shane Shaffer   2         675911140852 2018-06-01 11:31:13   14.24
Shane Shaffer   2         675911140852 2018-09-15 04:53:10   15.21
Shane Shaffer   2         675911140852 2018-03-15 06:41:30   15.24
Shane Shaffer   2         675911140852 2018-02-08 12:15:41   15.39
Shane Shaffer   2  4866761290278198714 2018-06-02 19:39:36   15.95
Shane Shaffer   2         675911140852 2018-05-28 07:57:39   15.96
Shane Shaffer   2         675911140852 2018-11-15 04:26:02   16.40
Shane Shaffer   2         675911140852 2018-08-06 16:17:07   16.55
Shane Shaffer   2  4866761290278198714 2018-10-30 09:45:03   16.64
Shane Shaffer   2  4866761290278198714 2018-10-24 09:56:38   16.84
Shane Shaffer   2         675911140852 2018-06-05 11:13:42   16.96
Shane Shaffer   2         675911140852 2018-07-06 03:02:41   16.99
Shane Shaffer   2  4866761290278198714 2018-03-05 15:43:47   17.06
Shane Shaffer   2  4866761290278198714 2018-07-28 03:34:44   17.16
Shane Shaffer   2  4866761290278198714 2018-06-19 02:45:45   17.25
Shane Shaffer   2  4866761290278198714 2018-01-07 15:10:27   17.29
Shane Shaffer   2         675911140852 2018-01-16 06:29:35   17.64
Shane Shaffer   2         675911140852 2018-09-16 17:27:47   17.72
Shane Shaffer   2  4866761290278198714 2018-02-08 05:12:18   18.32
Shane Shaffer   2         675911140852 2018-02-27 08:27:00   18.52
Shane Shaffer   2  4866761290278198714 2018-03-29 20:01:40   18.62
Shane Shaffer   2  4866761290278198714 2018-05-12 14:28:04   18.90
Shane Shaffer   2  4866761290278198714 2018-12-13 06:21:43   19.36
Shane Shaffer   2  4866761290278198714 2018-08-19 05:06:51   19.51

[232 rows x 4 columns]

In [58]:
transaction_2 = transaction_df[transaction_df["id"] == 2]
transaction_2.sort_values(["amount"])

     id      full_name                 card                date  amount
68    2  Shane Shaffer         675911140852 2018-04-29 18:35:27    0.70
32    2  Shane Shaffer         675911140852 2018-02-26 01:52:16    1.01
60    2  Shane Shaffer         675911140852 2018-04-01 11:54:51    1.08
178   2  Shane Shaffer  4866761290278198714 2018-10-02 18:48:15    1.17
81    2  Shane Shaffer  4866761290278198714 2018-05-22 22:34:52    1.19
2     2  Shane Shaffer  4866761290278198714 2018-01-06 02:16:41    1.33
22    2  Shane Shaffer  4866761290278198714 2018-02-03 18:05:39    1.41
168   2  Shane Shaffer         675911140852 2018-09-21 01:57:52    1.58
53    2  Shane Shaffer  4866761290278198714 2018-03-20 17:15:15    1.64
106   2  Shane Shaffer         675911140852 2018-06-18 19:37:57    1.67
82    2  Shane Shaffer         675911140852 2018-05-24 20:39:06    1.76
205   2  Shane Shaffer  4866761290278198714 2018-11-11 12:11:32    2.25
152   2  Shane Shaffer  4866761290278198714 2018-08-26 05:44:04    2.74
191   2  Shane Shaffer         675911140852 2018-10-28 02:29:29    2.89
180   2  Shane Shaffer  4866761290278198714 2018-10-07 11:21:08    2.92
167   2  Shane Shaffer  4866761290278198714 2018-09-20 19:13:12    3.05
127   2  Shane Shaffer         675911140852 2018-07-08 14:50:38    3.13
77    2  Shane Shaffer  4866761290278198714 2018-05-12 19:53:37    3.31
73    2  Shane Shaffer         675911140852 2018-05-10 00:19:48    3.42
121   2  Shane Shaffer  4866761290278198714 2018-07-05 17:19:48    3.43
46    2  Shane Shaffer         675911140852 2018-03-12 05:07:34    3.79
172   2  Shane Shaffer  4866761290278198714 2018-09-25 03:08:58    3.92
140   2  Shane Shaffer  4866761290278198714 2018-08-05 14:41:31    4.09
36    2  Shane Shaffer  4866761290278198714 2018-03-06 04:01:25    4.10
44    2  Shane Shaffer         675911140852 2018-03-10 19:52:29    4.13
159   2  Shane Shaffer         675911140852 2018-09-10 14:18:24    4.15
214   2  Shane Shaffer  4866761290278198714 2018-12-02 04:22:01    4.29
164   2  Shane Shaffer  4866761290278198714 2018-09-15 10:53:50    4.70
120   2  Shane Shaffer         675911140852 2018-07-03 21:30:30    4.78
146   2  Shane Shaffer  4866761290278198714 2018-08-14 12:33:56    4.89
..   ..            ...                  ...                 ...     ...
71    2  Shane Shaffer  4866761290278198714 2018-05-06 00:05:30   12.11
216   2  Shane Shaffer  4866761290278198714 2018-12-08 06:57:18   12.39
105   2  Shane Shaffer  4866761290278198714 2018-06-15 09:16:06   12.64
90    2  Shane Shaffer         675911140852 2018-06-01 06:25:18   13.03
186   2  Shane Shaffer  4866761290278198714 2018-10-16 02:08:07   13.06
42    2  Shane Shaffer         675911140852 2018-03-10 08:52:09   13.53
91    2  Shane Shaffer         675911140852 2018-06-01 11:31:13   14.24
163   2  Shane Shaffer         675911140852 2018-09-15 04:53:10   15.21
48    2  Shane Shaffer         675911140852 2018-03-15 06:41:30   15.24
24    2  Shane Shaffer         675911140852 2018-02-08 12:15:41   15.39
92    2  Shane Shaffer  4866761290278198714 2018-06-02 19:39:36   15.95
87    2  Shane Shaffer         675911140852 2018-05-28 07:57:39   15.96
207   2  Shane Shaffer         675911140852 2018-11-15 04:26:02   16.40
141   2  Shane Shaffer         675911140852 2018-08-06 16:17:07   16.55
194   2  Shane Shaffer  4866761290278198714 2018-10-30 09:45:03   16.64
190   2  Shane Shaffer  4866761290278198714 2018-10-24 09:56:38   16.84
96    2  Shane Shaffer         675911140852 2018-06-05 11:13:42   16.96
122   2  Shane Shaffer         675911140852 2018-07-06 03:02:41   16.99
35    2  Shane Shaffer  4866761290278198714 2018-03-05 15:43:47   17.06
134   2  Shane Shaffer  4866761290278198714 2018-07-28 03:34:44   17.16
107   2  Shane Shaffer  4866761290278198714 2018-06-19 02:45:45   17.25
5     2  Shane Shaffer  4866761290278198714 2018-01-07 15:10:27   17.29
9     2  Shane Shaffer         675911140852 2018-01-16 06:29:35   17.64
166   2  Shane Shaffer         675911140852 2018-09-16 17:27:47   17.72
23    2  Shane Shaffer  4866761290278198714 2018-02-08 05:12:18   18.32
33    2  Shane Shaffer         675911140852 2018-02-27 08:27:00   18.52
57    2  Shane Shaffer  4866761290278198714 2018-03-29 20:01:40   18.62
76    2  Shane Shaffer  4866761290278198714 2018-05-12 14:28:04   18.90
217   2  Shane Shaffer  4866761290278198714 2018-12-13 06:21:43   19.36
150   2  Shane Shaffer  4866761290278198714 2018-08-19 05:06:51   19.51

[99 rows x 5 columns]

In [66]:
# plot for cardholder 2

plot_2 = transaction_2.hvplot.line(
    title="Cardholder 2 Transactions",
    x="date",
    y="amount",
).opts(yformatter="%.0f")

plot_2

:Curve   [date]   (amount)

In [60]:
transaction_18 = transaction_df[transaction_df["id"] == 18]
transaction_18.sort_values(["amount"])

     id      full_name             card                date   amount
101  18  Malik Carlson  344119623920892 2018-06-13 05:34:22     0.67
209  18  Malik Carlson    4498002758300 2018-11-22 04:16:33     0.69
50   18  Malik Carlson  344119623920892 2018-03-19 05:53:26     0.92
126  18  Malik Carlson    4498002758300 2018-07-08 04:01:24     1.24
1    18  Malik Carlson  344119623920892 2018-01-05 07:19:27     1.36
189  18  Malik Carlson  344119623920892 2018-10-23 20:11:25     1.36
59   18  Malik Carlson  344119623920892 2018-03-31 23:13:53     1.56
175  18  Malik Carlson    4498002758300 2018-09-28 07:31:10     1.61
135  18  Malik Carlson    4498002758300 2018-07-29 12:15:25     1.64
227  18  Malik Carlson  344119623920892 2018-12-27 18:46:57     1.70
12   18  Malik Carlson    4498002758300 2018-01-17 15:02:38     1.72
215  18  Malik Carlson    4498002758300 2018-12-04 14:12:41     1.74
206  18  Malik Carlson  344119623920892 2018-11-12 04:53:21     1.75
88   18  Malik Carlson    4498002758300 2018-05-28 17:30:04     1.77
210  18  Malik Carlson  344119623920892 2018-11-26 20:19:56     1.77
74   18  Malik Carlson  344119623920892 2018-05-11 06:13:46     1.81
224  18  Malik Carlson  344119623920892 2018-12-20 17:20:27     1.88
108  18  Malik Carlson  344119623920892 2018-06-21 12:19:53     1.96
78   18  Malik Carlson    4498002758300 2018-05-14 23:34:39     1.99
222  18  Malik Carlson  344119623920892 2018-12-17 17:13:56     2.14
30   18  Malik Carlson  344119623920892 2018-02-21 20:23:38     2.31
56   18  Malik Carlson  344119623920892 2018-03-29 18:33:39     2.53
10   18  Malik Carlson  344119623920892 2018-01-16 19:19:48     2.55
25   18  Malik Carlson    4498002758300 2018-02-14 09:36:28     2.73
124  18  Malik Carlson    4498002758300 2018-07-07 00:11:44     2.75
223  18  Malik Carlson    4498002758300 2018-12-17 17:32:36     2.87
133  18  Malik Carlson    4498002758300 2018-07-26 18:08:43     2.93
0    18  Malik Carlson    4498002758300 2018-01-01 23:15:10     2.95
203  18  Malik Carlson    4498002758300 2018-11-10 10:17:29     3.04
58   18  Malik Carlson    4498002758300 2018-03-30 21:04:57     3.08
..   ..            ...              ...                 ...      ...
26   18  Malik Carlson    4498002758300 2018-02-14 14:49:22    17.36
131  18  Malik Carlson  344119623920892 2018-07-21 15:39:13    17.53
139  18  Malik Carlson    4498002758300 2018-08-04 21:56:44    17.57
110  18  Malik Carlson  344119623920892 2018-06-22 22:49:17    17.73
34   18  Malik Carlson    4498002758300 2018-03-03 18:45:59    17.94
144  18  Malik Carlson  344119623920892 2018-08-12 19:40:26    17.97
117  18  Malik Carlson    4498002758300 2018-07-01 21:53:10    18.09
51   18  Malik Carlson    4498002758300 2018-03-20 02:31:55    18.14
27   18  Malik Carlson  344119623920892 2018-02-18 08:54:19    18.30
199  18  Malik Carlson  344119623920892 2018-11-03 12:46:57    18.52
145  18  Malik Carlson    4498002758300 2018-08-14 08:38:49    18.54
21   18  Malik Carlson    4498002758300 2018-01-29 02:00:47    18.65
171  18  Malik Carlson    4498002758300 2018-09-23 18:59:26    18.83
83   18  Malik Carlson    4498002758300 2018-05-26 00:34:37    19.22
55   18  Malik Carlson  344119623920892 2018-03-25 13:31:56    19.60
165  18  Malik Carlson  344119623920892 2018-09-16 00:17:03    20.75
66   18  Malik Carlson  344119623920892 2018-04-18 13:50:55    21.20
69   18  Malik Carlson    4498002758300 2018-04-30 14:09:06    22.12
123  18  Malik Carlson  344119623920892 2018-07-06 16:12:08   117.00
114  18  Malik Carlson  344119623920892 2018-06-30 01:56:19   121.00
4    18  Malik Carlson  344119623920892 2018-01-07 01:10:54   175.00
6    18  Malik Carlson  344119623920892 2018-01-08 11:15:36   333.00
156  18  Malik Carlson  344119623920892 2018-09-02 11:20:42   458.00
130  18  Malik Carlson  344119623920892 2018-07-18 09:19:08   974.00
61   18  Malik Carlson  344119623920892 2018-04-03 03:23:37  1077.00
218  18  Malik Carlson  344119623920892 2018-12-13 12:09:58  1154.00
160  18  Malik Carlson  344119623920892 2018-09-10 22:49:41  1176.00
208  18  Malik Carlson  344119623920892 2018-11-17 05:30:43  1769.00
94   18  Malik Carlson  344119623920892 2018-06-03 20:02:28  1814.00
29   18  Malik Carlson  344119623920892 2018-02-19 22:48:25  1839.00

[133 rows x 5 columns]

In [69]:
plot_18 = transaction_18.hvplot.line(
    title="Cardholder 18 Transactions",
    x="date",
    y="amount",
).opts(yformatter="%.0f")

plot_18

:Curve   [date]   (amount)

In [86]:
# combined plot for card holders 2 and 18

combined_plot = plot_2 * plot_18
combined_plot

:Overlay
   .Curve.I  :Curve   [date]   (amount)
   .Curve.II :Curve   [date]   (amount)

   ### Conclusions for Question 1

What difference do you observe between the consumption patterns? Does the difference could be a fraudulent transaction? Explain your rationale.

   Do you see any fraudulent or anomalous transactions?

   If you answered yes to the previous question, explain why you think there might be fraudulent transactions during this time frame.
   
   What are the top five merchants prone to being hacked using small transactions?

    Once you have a query that can be reused, create a view for each of the previous queries.

   ## Data Analysis Question 2

   The CEO of the firm's biggest customer suspects that someone has used her corporate credit card without authorization in the first quarter of 2018 to pay for several expensive restaurant bills. You are asked to find any anomalous transactions during that period.
   
   Use `Plotly Express` to create a series of six box plots, one for each month, in order to identify how many outliers could be per month for **card holder id 25**. By observing the consumption patters, do you see any anomalies? Write your own conclusions about your insights.

In [75]:
# loading data of daily transactions from jan to jun 2018 for card holder 25

query = """
select ch.id, ch.full_name, cc.card, t.date, t.amount
from credit_card as cc
inner join card_holder as ch on ch.id = cc.id_card_holder
inner join transaction as t on t.card = cc.card
WHERE (id_card_holder = '25');
"""


transaction_25 = pd.read_sql(query, engine)
transaction_25.sort_values(["full_name", "amount"]).set_index(["full_name"])

                 id             card                date   amount
full_name
Nancy Contreras  25  372414832802279 2018-02-28 02:06:08     0.91
Nancy Contreras  25    4319653513507 2018-06-09 23:50:42     1.03
Nancy Contreras  25  372414832802279 2018-05-06 04:38:27     1.10
Nancy Contreras  25  372414832802279 2018-02-28 13:56:12     1.18
Nancy Contreras  25    4319653513507 2018-07-22 01:03:31     1.20
Nancy Contreras  25    4319653513507 2018-02-23 10:13:27     1.26
Nancy Contreras  25  372414832802279 2018-01-10 00:25:40     1.39
Nancy Contreras  25    4319653513507 2018-01-02 02:06:21     1.46
Nancy Contreras  25  372414832802279 2018-07-13 06:19:18     1.56
Nancy Contreras  25    4319653513507 2018-09-04 09:20:30     1.61
Nancy Contreras  25  372414832802279 2018-01-16 02:26:16     1.65
Nancy Contreras  25  372414832802279 2018-03-12 09:08:18     1.65
Nancy Contreras  25    4319653513507 2018-09-26 21:48:24     1.66
Nancy Contreras  25    4319653513507 2018-07-11 21:03:30     1.67
Nancy Contreras  25  372414832802279 2018-10-08 08:18:57     1.74
Nancy Contreras  25  372414832802279 2018-11-15 14:17:09     1.89
Nancy Contreras  25    4319653513507 2018-07-05 00:07:24     2.03
Nancy Contreras  25  372414832802279 2018-03-09 03:59:06     2.04
Nancy Contreras  25  372414832802279 2018-10-21 14:48:29     2.11
Nancy Contreras  25  372414832802279 2018-01-21 23:04:02     2.22
Nancy Contreras  25    4319653513507 2018-05-19 09:12:20     2.27
Nancy Contreras  25  372414832802279 2018-06-30 03:05:55     2.27
Nancy Contreras  25  372414832802279 2018-11-11 14:34:52     2.32
Nancy Contreras  25    4319653513507 2018-03-17 18:22:07     2.56
Nancy Contreras  25  372414832802279 2018-10-22 16:41:09     2.60
Nancy Contreras  25    4319653513507 2018-04-01 21:08:23     2.62
Nancy Contreras  25    4319653513507 2018-02-23 12:26:19     2.63
Nancy Contreras  25    4319653513507 2018-01-31 05:46:43     2.75
Nancy Contreras  25  372414832802279 2018-04-26 02:16:45     2.79
Nancy Contreras  25    4319653513507 2018-03-07 16:45:37     2.88
...              ..              ...                 ...      ...
Nancy Contreras  25  372414832802279 2018-04-26 23:09:51    15.66
Nancy Contreras  25    4319653513507 2018-01-18 12:41:06    15.86
Nancy Contreras  25  372414832802279 2018-06-19 07:16:54    15.98
Nancy Contreras  25    4319653513507 2018-06-14 12:17:21    16.29
Nancy Contreras  25  372414832802279 2018-10-31 16:16:58    16.49
Nancy Contreras  25  372414832802279 2018-04-29 02:41:44    16.50
Nancy Contreras  25    4319653513507 2018-03-05 07:34:15    16.58
Nancy Contreras  25    4319653513507 2018-06-23 22:36:00    16.61
Nancy Contreras  25    4319653513507 2018-02-18 20:43:22    16.70
Nancy Contreras  25  372414832802279 2018-12-30 11:05:36    17.11
Nancy Contreras  25  372414832802279 2018-04-02 18:34:50    17.15
Nancy Contreras  25    4319653513507 2018-10-02 19:43:34    17.47
Nancy Contreras  25  372414832802279 2018-01-14 05:02:22    17.84
Nancy Contreras  25  372414832802279 2018-03-18 12:29:39    18.28
Nancy Contreras  25  372414832802279 2018-11-13 04:08:25    18.88
Nancy Contreras  25  372414832802279 2018-04-20 17:02:27    20.03
Nancy Contreras  25  372414832802279 2018-07-31 20:15:39    20.73
Nancy Contreras  25  372414832802279 2018-03-31 20:12:10    21.04
Nancy Contreras  25    4319653513507 2018-04-01 07:17:21   100.00
Nancy Contreras  25    4319653513507 2018-10-28 02:12:58   137.00
Nancy Contreras  25    4319653513507 2018-04-09 18:28:25   269.00
Nancy Contreras  25    4319653513507 2018-06-06 21:50:17   749.00
Nancy Contreras  25    4319653513507 2018-08-16 10:01:00  1001.00
Nancy Contreras  25    4319653513507 2018-05-13 06:31:20  1046.00
Nancy Contreras  25    4319653513507 2018-04-08 06:03:50  1063.00
Nancy Contreras  25    4319653513507 2018-12-18 13:33:37  1074.00
Nancy Contreras  25    4319653513507 2018-06-04 03:46:15  1162.00
Nancy Contreras  25    4319653513507 2018-01-30 18:31:00  1177.00
Nancy Contreras  25    4319653513507 2018-03-06 07:18:09  1334.00
Nancy Contreras  25    4319653513507 2018-06-22 06:16:50  1813.00

[124 rows x 4 columns]

In [76]:
# change the numeric month to month names

while x <=6:
    transaction_months = transaction_25[transaction_25["date"].dt.month == x]
    x+=1

SyntaxError: invalid syntax (<ipython-input-76-b767ea4f7d02>, line 4)

In [ ]:
transaction_25_months = transaction_25[transaction_25["date"].dt.month == 1]

In [ ]:
# creating the six box plots using plotly express

   ### Conclusions for Question 2